{% extends "base.html" %}

{% block title %}{{ post.text }} by {{ post.author.username }}{% endblock %}

{% block body %}
    {% include "includes/post.html" with post=post %}
    <hr>
    <h3>Readers Comments</h3>
    <hr>

    <!-- List of comments -->
    {% if comments %}
    <div class="p-4">
      {% for comment in comments %}
        <p class="mt-2 text-gray-600">- {{comment.text }} </p>
        <span class="font-light text-gray-600"></span>
        <p class="text-decoration-line: underline">by {{ comment.author }}     Posted on {{ comment.date}}</p>
      {% endfor %}
    <hr>
    {%else %}
      <h5><strong>This post does not have reader comments</strong></h5>
</div>
   {% endif %}
<!-- End of comments -->

<!--  Form to enter comments -->
<h3>Leave a comment </h3>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary ml-2" type="submit">Post your comment</button>
</form>
<!-- End of form -->
{% endblock body %}
